/* GENERAL LAYOUT */

* {
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* HEADER LAYOUT */

nav {
    display: flex;
    height: 80px;
}

.nav_menu, ul {
    width: 50%;
    display: flex;
    align-items: center;
}

ul {
    justify-content: space-around;
}

#logo {
    padding-left: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #242424;
    font-family: "Manrope", sans-serif;
    font-size: 1.1rem;
}

/* MAIN LAYOUT */

/* PRESENTATION LAYOUT */

.presentation {
    display: flex;
    flex-direction: row-reverse;
    height: 653px;
    background-color: #1F2039;
}

.box_portrait, .box_presentation {
    width: 50%;
    display: flex;
}

.portrait_robbie {
    margin: auto;
    padding: 40px;
    border-bottom: 1px solid #A5B4FC;
    border-right: 1px solid #A5B4FC;
}

.center_box_presentation {
    margin: auto;
    width: 50%;
}

h1 {
    color: #A5B4FC;
    font-weight: 400;
    font-size: 3.4rem;
}

p {
    font-family: "Manrope", sans-serif;
    font-size: 1.2rem;
    margin: 20px 0px;
    color: #F9F8ff;

}

em {
    color: #A5B4FC;
}

.box_cta {
    margin-top: 50px;
}

.cta {
    background: linear-gradient(180deg, #8E86B5 0%, #ACAEED 100%);
    color: #ffffff;
    padding: 16px 24px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1rem;
}

/* TRAVAUX LAYOUT */

.travaux {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #1F2039;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 50px 0;
}

.box_pictures {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 90%;
}

.box_cta_deux {
    margin: 60px 0;
    text-align: center;
}
